<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="ko-KR">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="ko-KR">
<![endif]-->
<!--[if !(IE 7) | !(IE 8) ]><!-->
<html lang="ko-KR">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>엑셀 파일 읽기</title>
</head>


<body>

	
<header class="entry-header"><h1>엑셀 파일 선택</h1></header>
	
	<form name="add_form_entry" id="add_form_entry" method="post" action="excel_file_read.php" enctype="multipart/form-data">
	<label for="inputFileName">Select a file:</label>
	<input type="file" name="inputFileName" size="40">
	<input type="submit" value="확인">
	</form>
	
</body>
</html>