<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    </head>
    <body>
        <div class="position-relative" style="position: fixed; top:0%">
            <input class="btn btn-dark" type="file" id="inputFileName" onchange="excelExport(event)"/>
            <input class="btn btn-dark position-absolute bottom-0 end-0" type="button" value="엑셀다운로드" onclick="download();"/>
            <div id="naver-api-text" class="p-3 mb-2 bg-secondary text-white">네이버 초당 호출 API 제한으로 인해 속도가 저하됩니다.  <span id="text-warning" class="text-warning">최우선 검색 결과로 정확하지 않을 수 있습니다.</span></div>
            <a class="text-white bg-dark position-absolute top-0 start-50 translate-middle-x" style="text-decoration-line: none;">남은 예상 시간은 : <span id="wating-time"> ∞</span> 초 입니다</a>
        </div>
        
        <table id="table01" border="1">
            <thead>
                <th>단어명</th>
                <th>단어설명</th>
            </thead>
        </table>
    </body>
</html>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>

<script>

    var word_arr = [];
    var key_idx;
    var word_search;
    let watingTime = document.getElementById('wating-time');

    // 날짜
    let today = new Date();   

    let year = today.getFullYear(); // 년도
    let month = ("0" + (today.getMonth() + 1)).slice(-2);  // 월
    let day = ("0" + today.getDate()).slice(-2);  // 날짜
    let hours = ("0" + today.getHours()).slice(-2); // 시
    let minutes = ("0" + today.getMinutes()).slice(-2);  // 분 

    let fileDate = year + month + day + hours + minutes; 

    function excelExport(event){
    document.getElementById('table01').innerHTML = '';
    var input = event.target;
    var reader = new FileReader();
    reader.onload = function(){
        var fileData = reader.result;
        var wb = XLSX.read(fileData, {type : 'binary'});
        // var wb.SheetNames.forEach(function(sheetName))
        // for (i=0; i<)
        wb.SheetNames.forEach(function(sheetName, index, arr){
	        var rowObj =XLSX.utils.sheet_to_json(wb.Sheets[sheetName]);
	        // console.log(JSON.stringify(rowObj), index);
            // word_list.push(rowObj);
            
            for (var key in rowObj) {
                word_arr.push(rowObj[key]);
                // console.log('length' , word_arr.length);

            };
            // console.log('rowOjb[key] : ', word_arr);
            callDicApi(key, rowObj);
        })
    };
    reader.readAsBinaryString(input.files[0]);
}

function callDicApi(key, val) {
        // for (i=0; i<val.length; i++) {
        for (i=0; i<1; i++) {
            if (val[i].kword === undefined) {
                val[i].search = val[i].eword;
            } else {
                val[i].search = val[i].kword;
            }

            word_search = word_arr[i].search;

                $.ajax({
                    url: "https://opendict.korean.go.kr/api/search?key=8F9999A5FFB99235EC64C5FFF359C91D&q=%EB%82%98%EB%AC%B4&req_type=json",
                    type: "post",
                    traditional: true,	// ajax 배열 넘기기 옵션!
                    data: {"search" : val[i].search},
                    // dataType: "json",
                    success: function (data) {
                        let parseData = JSON.parse(data);
                        console.log(parseData);
                    
                    },
                    error:function(request,status,error){
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    }
                });
            
            function getSubStrRes(res, des) {
                let table01 = document.getElementById('table01');

                
                
                
                
                table01.innerHTML = '<table id="table01" border="3">';
                table01.innerHTML += '<thead>';
                table01.innerHTML += '  <th>단어명</th><th>단어설명</th>';
                table01.innerHTML += '</thead>';
                table01.innerHTML += '<tbody>';
                table01.innerHTML += '    <td>' + res + '</td><td>' + des + '</td>';
                table01.innerHTML += '<tbody>';
                table01.innerHTML += '</table>';
                

            }


        }
        console.log("끝??");
    }
            

</script>